.THIS.slds-input_x-small {
        width: 55px !important;
        padding: 0 4px;
        font-size: 12px;
        text-align: center;
    }


.THIS.slds-form-element {
        width: 55px !important;
        padding: 0 4px;
        font-size: 12px;
        text-align: center;
}